@keyframes wiggle-hand {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.video-container {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hand {
  display:inline-block;
  animation: wiggle-hand 2s ease infinite;
}

@keyframes navbar-slide-from-top {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#top-navbar {
  animation: 2s ease forwards navbar-slide-from-top;
}

@keyframes header-slide-from-bottom {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#header {
  animation: 2s ease header-slide-from-bottom;
}

#profile-icon-container {
  display: inline-block;
  background-image: var(--gradient);
  background-size: 400% 400%;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;

  canvas, #profile-icon-preview {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
  }
}

#header span.project-badge {
  display: inline-flex;
  align-items: center;
  min-height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  background: white;

  img {
    height: 3rem;
    border-radius: 0.5rem;

    @media (max-width: 900px) {
      height: 2rem;
      border-radius: 0.3rem;
    }
  }

  a, div {
    color: black;
    display: inline-block;
    padding-left: 0.5rem;
    text-align: left;

    strong {
      margin-bottom: 0;
      display: block;
    }
  }

  @media (max-width: 900px) {
    min-height: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-bottom: 0.1rem;
    font-size: 0.75rem;
  }

  @media (prefers-color-scheme: dark) {
    background: #1d1d1d;

    div, strong, small {
      color: white;
    }
  }
}

#macbook-container {
  height: 52rem;
  position: relative;

  #macbook {
    position: absolute;
    top: 2rem;
    left: -13.2rem;
    right: -13.5rem;
    height: 110%;
    background-image: url('/static/img/macbook-light-1920.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      background-image: url('/static/img/macbook-dark-1920.webp');
    }

    @media (max-width: 500px) {
      background-image: url('/static/img/macbook-light-600.webp');
    }

    @media (max-width: 500px) and (prefers-color-scheme: dark) {
      background-image: url('/static/img/macbook-dark-600.webp');
    }

    @media (max-width: 900px) {
      background-image: url('/static/img/macbook-light-1000.webp');
    }

    @media (max-width: 900px) and (prefers-color-scheme: dark) {
      background-image: url('/static/img/macbook-dark-1000.webp');
    }

    @media (max-width: 1300px) {
      background-image: url('/static/img/macbook-light-1400.webp');
    }

    @media (max-width: 1300px) and (prefers-color-scheme: dark) {
      background-image: url('/static/img/macbook-dark-1400.webp');
    }
  }

  #macbook-code-container {
    position: absolute;
    top: 14.75rem;
    left: 11.9rem;
    right: 17.7rem;
    bottom: 4.65rem;
    overflow-y: hidden;
    overflow-x: hidden;

    #macbook-code {
      height: 1250px;
      width: 100%;
      background-image: url('/static/img/code-light-686.webp');
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;

      @media (prefers-color-scheme: dark) {
        height: 1262px;
        background-image: url('/static/img/code-dark-686.webp');
      }
    }
  }
}

#peerbridge-demo {
  margin-top: -18rem;
  height: 64rem;
  background-image: url('/static/img/peerbridge-light.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  #peerbridge-demo {
    background-image: url('/static/img/peerbridge-dark.webp');
  }
}

@media (max-width: 1023px) {
  #peerbridge-demo {
    margin-top: 0rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    background-size: cover;
    background-position: -40rem 0;
  }
}

#cloud-tile {
  position: relative;
}

#cloud-tile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  background: linear-gradient(15deg, #0072ff, #00c6ff, #4834d4);
}

.featured-project-description {
  z-index: 100;
}

#three-dify-presentation-container {
  padding-top: 12rem;
  margin-top: 6rem;
}

#three-dify-tech-back-container {
  position: relative;
  height: 16rem;
}

@media(prefers-color-scheme: dark) {
  #three-dify-tech-back-container::after {
    background-image: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0));
  }
}

#three-dify-tech-back {
  position: absolute;
  top: -14rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/static/img/3dify-demo/back.webp');
  background-size: 100%;
  z-index: -1;
  opacity: 0.15;
}

#three-dify-tech-demo-container {
  position: relative;
  height: 24rem;
}

#three-dify-tech-demo-photo, #three-dify-tech-demo-depth {
  position: absolute;
  top: -18rem;
  bottom: -6rem;
  left: 0;
  right: 0;
  background-size: 100%;
  z-index: -1;
  transform: translateY(-5rem);
}

#three-dify-tech-demo-photo {
  background-image: url('/static/img/3dify-demo/photo.webp');
}

#three-dify-tech-demo-depth {
  background-image: url('/static/img/3dify-demo/demo.webp');
}


#three-dify-tech-demo-depth::after,
#three-dify-tech-demo-photo::after,
#three-dify-tech-back::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(0deg, var(--light), rgba(255, 255, 255, 0));
}

@media(prefers-color-scheme: dark) {
  #three-dify-tech-demo-depth::after,
  #three-dify-tech-demo-photo::after,
  #three-dify-tech-back::after {
    background-image: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0));
  }
}


#fullstack-image {
  position: relative;
  display: inline-block;
  height: 48rem;
  max-height: 100vw;
  width: 64rem;
  max-width: 100%;
  background-image: url('/static/img/tech-light-1000.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24rem;

  @media (prefers-color-scheme: dark) {
    background-image: url('/static/img/tech-dark-1000.webp');
  }
}
