{% load i18n %}

<section id="footer" class="has-background-dark has-text-light py-6 px-3">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3">
        <p><b>Links</b></p>
        {% for weblink in weblinks %}
        <p><a rel="noreferrer" target="_blank" class="has-text-light" href={{ weblink.url }}>
          <i class="{{ weblink.fontawesome_icon_css }} mr-2"></i> {{ weblink.title }}
        </a></p>
        {% endfor %}
      </div>
      <div class="column is-3">
        <p><b>Responsible for this website</b></p> 
        <p>Philipp Matthes</p><p>         
        </p><p>Clara-Viebig-Straße 9</p>         
        <p>01159 Dresden</p>         
        <p>+49 176 42090978</p>         
        <p>hi@philippmatth.es</p>
      </div>
      <div class="column is-3">
        <p><b>Expertise</b></p>
        <p>📱 Mobile and Web Apps</p>
        <p>☁️ Cloud Infrastructures</p>
        <p>🧠 Machine Learning</p>
        <p>💡 Fullstack Development</p>
      </div>
      <div class="column is-3">
        <p><b>Made with Django, Three.js, and Bulma.</b></p>
        <p><a class="has-text-light" rel="noreferrer" href="https://github.com/PhilippMatthes/homepage" target="_blank">Contribute</a></p>
      </div>
    </div>
  </div>
</section>
