{% load static %}

<section id="header" class="px-3 pt-6">
  <div class="container my-6">
    <div class="hero is-small has-text-centered">
      <div class="hero-body px-0">
        <figure id="profile-icon-container" class="image">
          <div id="profile-icon-webgl"
               style="display: none;"></div>
          <img id="profile-icon-preview"
               alt="Profile Icon Preview"
               width="512"
               height="512"
               class="is-rounded parallax" style="display: block;"
               src="{% static 'img/selfie.webp' %}"
               data-parallax-depth-map="{% static 'img/selfie-depth.webp' %}"
               data-parallax-normal-map="{% static 'img/selfie-normals.webp' %}"
               data-parallax-cubemap-path="{% static 'img/selfie-cubemap/' %}"
               >
        </figure>
        <h1 class="title py-5">
          <b>Hey!</b> <span id="hand">👋🏼</span>
        </h1>
        <h2 class="subtitle">
          I am Philipp, researcher and Ph.D. student at TU Dresden, specializing in smart mobility. My main areas of expertise are multiplatform apps, machine learning, and cloud architectures. Here are some of the projects I've been working on:
        </h2>
      </div>
    </div>

    <div style="text-align: center;">
      {% for project in projects %}
      <span class="project-badge">
        <img alt="icon" src="{{ project.icon.url }}">
        <{% if project.url %}a href="{{ project.url }}"{% else %}div{% endif %}>
          <strong>{{ project.name }}</strong>
          {% if project.description %}
          <small>{{ project.description }}</small>
          {% endif %}
        </{% if project.url %}a{% else %}div{% endif %}>
      </span>
      {% endfor %}
    </div>

  </div>
</section>
