html {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 15.4px;
}

blockquote {
  font-size: 3rem;
  font-weight: 400;
  line-height: 30px;
}
