:root {
  --gradient: linear-gradient(45deg, #00c6ff, #0072ff);
  --lightblue: #00c6ff;
  --darkblue: #0072ff;
  --dark: #0d0d0d;
  --light: #fafafa;
}

body {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.notification a:not(.button):not(.dropdown-item) {
  color: var(--darkblue);
}

html {
  background-color: var(--light);
  color: var(--dark);

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--dark);
  }
}

hr {
  height: 1px;
  background: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
  hr {
    background: var(--light);
  }
}

@media (prefers-color-scheme: dark) {
  html,
  .subtitle,
  .subtitle strong,
  .title,
  .title strong {
    color: var(--light);
  }
}

.container {
  max-width: 60rem !important;
}

.hero .title {
  font-size: 6rem;
}

.hero .subtitle {
  font-size: 1.5rem;
}

@media (max-device-width: 1023px) {
  .hero .title {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.colorful-background {
  background: var(--gradient);
}

.text-clip {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.notification {
  background: var(--light);
  border-radius: 2rem;
}

@media (prefers-color-scheme: dark) {
  .notification {
    background: #1d1d1d;
    color: var(--light);
  }
}

#footer {
  margin-top: 6rem;
}
