{% load static %}

<section id="apps">
  <div class="container">
    <div id="macbook"></div>
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background is-animated text-clip py-5">
          Ubiquitous Applications.
        </h1>
      </div>
    </div>
    <h1 class="title">
      {% lorem %}
    </h1>
  </div>

  <div class="container" id="peerbridge-animation-container">
    <div class="columns">
      <div class="column is-6">
        <h2 class="subtitle">
          {% lorem %}
        </h2>
        <h2 class="subtitle">
          <a href="#"><strong>View Projects (Coming Soon) &raquo;</strong></a>
        </h2>
      </div>
    </div>
    <hr class="mt-2">
    <canvas width="1920" height="1920" id="peerbridge-animation"></canvas>
  </div>
</section>
