{% load static %}
{% load i18n %}

<section id="apps" class="px-3">
  <div class="container">
    <div id="macbook-container" class="is-hidden-touch">
      <div id="macbook"></div>
      <div id="macbook-code-container">
        <div id="macbook-code"></div>
      </div>
    </div>
    <div class="hero is-small pt-6">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip pb-5">
          {% trans 'apps' %}
        </h1>
      </div>
    </div>
    <h2 class="title">
      {% trans 'apps_description' %}
    </h2>
  </div>

  <div class="container" id="peerbridge-demo-container">
    <div class="columns">
      <div class="column is-6 featured-project-description">
        <h2 class="subtitle mt-6">
          {% trans 'stack' %}
        </h2>
        <h2 class="subtitle mt-5">
          {% trans 'peerbridge_description' %}
        </h2>
      </div>
    </div>
    <hr class="mt-2">
    <div id="peerbridge-demo" class="is-hidden-touch"></div>
  </div>
</section>
