<div class="is-sticky-top">
  <nav class="navbar secondary">
    <div class="navbar-blur"></div>
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navMenuColordark-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuColordark-example" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Expertise
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="#apps">
            Ubiquitous Applications
          </a>
          <a class="navbar-item" href="#cloud">
            Cloud Computing
          </a>
          <a class="navbar-item" href="#ml">
            Machine Learning
          </a>
          <a class="navbar-item" href="#teaching">
            E-Learning and Teaching
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
