{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<div class="is-sticky-top has-text-weight-bold">
  <nav class="navbar secondary">
    <div class="navbar-blur"></div>
    <div class="container">
      <div class="navbar-brand">
        <a rel="noreferrer" class="navbar-item" href="/">
          {% trans 'bottom_navigation_brand' %}
        </a>
        <div class="navbar-burger burger"
             data-target="bottom-navigation">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="bottom-navigation" class="navbar-menu py-0">
        <div class="navbar-end">
          <a class="navbar-item hook"
             data-hook-id="apps"
             data-hook-title="Apps"
             href="#apps">
            {% trans 'apps' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="ml"
             data-hook-title="ML"
             href="#ml">
            {% trans 'machine_learning' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="cloud"
             data-hook-title="Cloud"
             href="#cloud">
            {% trans 'cloud_computing' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="fullstack"
             data-hook-title="Fullstack"
             href="#fullstack">
            {% trans 'fullstack' %}
          </a>
          {% comment %} <a class="navbar-item hook"
             data-hook-id="research"
             data-hook-title="Research"
             href="#research">
            {% trans 'research' %}
          </a> {% endcomment %}
        </div>
      </div>
    </div>
  </nav>
  <hr class="my-0">
</div>
