{% load i18n %}

<div class="is-sticky-top has-text-weight-bold">
  <nav class="navbar secondary">
    <div class="navbar-blur"></div>
    <div class="container">
      <div class="navbar-brand">
        <a rel="noreferrer" class="navbar-item" href="/">
          {% trans 'bottom_navigation_brand' %}
        </a>
        <div class="navbar-burger burger"
             data-target="bottom-navigation"
             onclick="document.querySelector('#bottom-navigation').classList.toggle('is-active');">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="bottom-navigation" class="navbar-menu py-0">
        <div class="navbar-end">
          <a class="navbar-item hook"
             data-hook-id="apps"
             href="#apps">
            {% trans 'ubiquitous_applications' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="ml"
             href="#ml">
            {% trans 'machine_learning' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="cloud"
             href="#cloud">
            {% trans 'cloud_computing' %}
          </a>
          <a class="navbar-item hook"
             data-hook-id="fullstack"
             href="#fullstack">
            {% trans 'fullstack' %}
          </a>
        </div>
      </div>
    </div>
  </nav>
  <hr class="my-0">
</div>
