{% load static %}
<section id="cloud">
  <div class="container">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background is-animated text-clip py-5">
          Cloud Computing.
        </h1>
      </div>
    </div>
    <h1 class="title">
      {% lorem %}
    </h1>
    <div id="cloud-tile" class="tile is-ancestor is-vertical mt-6">
      <div id="cloud-tile-gradient"></div>
      <div id="cloud-tile-backdrop"></div>
      <div class="tile">
        <div class="tile is-parent">
            <div class="tile is-child notification">
                <p class="title">Blockchain and Consensus</p>
                <p>{% lorem 30 w %}</p>
            </div>
        </div>
        <div class="tile is-8 is-parent">
            <div class="tile is-child notification">
                <p class="title">Continuous Everything</p>
                <p>{% lorem 90 w %}</p>
            </div>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-8 is-parent">
            <div class="tile is-child notification">
                <p class="title">Serviceoriented Architecture</p>
                <p>{% lorem 90 w %}</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child notification">
                <p class="title">Distributed Systems</p>
                <p>{% lorem 30 w %}</p>
            </div>
        </div>
      </div>
    </div>
    <h2 class="subtitle mt-6">
      <a href="#"><strong>View Projects (Coming Soon) &raquo;</strong></a>
    </h2>
    <hr class="mt-2">
  </div>
</section>
