{% load i18n %}

<section id="footer" class="has-background-dark has-text-light py-6 px-3">
  <div class="container">
    <div class="columns is-multiline">
      {% if addresses %}
      <div class="column is-12">
        <p class="pb-1"><b>{% trans 'blockchain_addresses' %}</b></p>
        {% for address in addresses %}
          {% if address.tracking_url %}
          <a class="has-text-light" href="{{ address.tracking_url }}" style="display: inline-flex;
  align-items: center;">
            {% if address.image %}
            <img alt="icon" src="{{ address.image.url }}"
                 style="height: 1.5rem; width: 1.5rem; object-fit: contain">
            {% endif %}
            <p style="padding-left: 0.5rem; word-break: break-all;">{{ address.blockchain }}: {{ address.address }}</p>
          </a>
          {% else %}
          <p>{{ address.blockchain }}: {{ address.address }}</p>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="column is-3">
        {% trans 'legal_information' %}
      </div>
      <div class="column is-3">
        <p><b>{% trans 'services' %}</b></p>
        <p><a class="has-text-light" rel="noreferrer" href="/#apps">
          {% trans 'ubiquitous_applications' %}
        </a></p>
        <p><a class="has-text-light" rel="noreferrer" href="/#cloud">
          {% trans 'cloud_computing' %}
        </a></p>
        <p><a class="has-text-light" rel="noreferrer" href="/#ml">
          {% trans 'machine_learning' %}
        </a></p>
      </div>
      <div class="column is-3">
        <p><b>{% trans 'weblinks' %}</b></p>
        <p><a class="has-text-light" rel="noreferrer" href="https://github.com/PhilippMatthes" target="_blank">
          <i class="fab fa-github mr-2"></i> {% trans 'github_profile' %}
        </a></p>
        <p><a class="has-text-light" rel="noreferrer" href="https://philippmatthes.medium.com/" target="_blank">
          <i class="fas fa-quote-right mr-2"></i> {% trans 'blog_on_medium' %}
        </a></p>
        <p><a class="has-text-light" rel="noreferrer" href="https://twitter.com/snrmtths" target="_blank">
          <i class="fab fa-twitter mr-2"></i> {% trans 'twitter_profile' %}
        </a></p>
      </div>
      <div class="column is-3">
        <p><b>{% trans 'made_with_love' %}</b></p>
        <p><a class="has-text-light" rel="noreferrer" href="https://github.com/PhilippMatthes/homepage" target="_blank">{% trans 'contribute' %}</a></p>
      </div>
    </div>
  </div>
</section>
