{% load static %}
{% load i18n %}

<section id="fullstack" class="px-3 py-6">
  <div class="container has-text-centered">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'fullstack' %}
        </h1>
      </div>
    </div>
    <div id="fullstack-image"></div>
    <div class="py-6"></div>
    <h1 class="title py-6">
      {% trans 'fullstack_title' %}
    </h1>
    <h2 class="subtitle mt-3">
      {% trans 'fullstack_description' %}
    </h2>
    <div class="py-6"></div>
  </div>
</section>
