{% load static %}
{% load i18n %}

<section id="header" class="px-3">
  <div class="container my-6">
    <div class="hero is-small has-text-centered">
      <div class="hero-body px-0">
        <figure id="profile-icon-container" class="image">
          <div id="profile-icon-webgl"
               style="display: none;"></div>
          <img id="profile-icon-preview"
               class="is-rounded" style="display: block;"
               src="{% static 'img/ausschnitt.webp' %}"
               loading="lazy">
        </figure>
        <h1 class="title colorful-text py-5">
          {% trans 'welcome_message' %}
        </h1>
        <h2 class="subtitle">
          {% trans 'personal_description' %}
        </h2>
      </div>
    </div>
  </div>
</section>
