{% load static %}
{% load i18n %}

<section id="header" class="px-3">
  <div class="container my-6">
    <div class="hero is-small has-text-centered">
      <div class="hero-body px-0">
        <figure id="profile-icon-container" class="image">
          <div id="profile-icon-webgl"
               style="display: none;"></div>
          <img id="profile-icon-preview"
               alt="Profile Icon Preview"
               width="512"
               height="512"
               class="is-rounded parallax" style="display: block;"
               src="{% static 'img/profil.webp' %}"
               data-parallax-depth-map="{% static 'img/profil-depth.webp' %}"
               >
        </figure>
        <h1 class="title colorful-text py-5">
          {% trans 'welcome_message' %} <span id="hand">👋🏼</span>
        </h1>
        <h2 class="subtitle">
          {% trans 'personal_description' %}
        </h2>
      </div>
    </div>

    <div style="text-align: center;">
      {% for project in projects %}
      <span class="project-badge">
        <img alt="icon" src="{{ project.icon.url }}">
        <{% if project.url %}a href="{{ project.url }}"{% else %}div{% endif %}>
          <strong>{{ project.name }}</strong>
          {% if project.description %}
          <small>{{ project.description }}</small>
          {% endif %}
        </{% if project.url %}a{% else %}div{% endif %}>
      </span>
      {% endfor %}
    </div>

  </div>
</section>
