{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block head %}
<link href="{% static 'dist/css/index.min.css' %}" rel="stylesheet">
{% endblock %}


{% block main %}

  {% include 'header.html' %}
  {% include 'bottom-navigation.html' %}
  {% include 'research.html' %}
  {% include 'apps.html' %}
  {% include 'ml.html' %}
  {% include 'cloud.html' %}
  {% include 'fullstack.html' %}
  {% include 'footer.html' %}

{% endblock %}

{% block extrabody %}
<link rel="prefetch" href="{% static 'dist/js/index.min.js' %}">
<script defer src="{% static 'dist/js/index.min.js' %}"></script>

<link rel="parallax-three-js"
      data-id="three-js-script"
      href="{% static 'vendor/js/three.min.js' %}">
{% endblock %}
