{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="preload"
      href="{% static 'css/index.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';">
<noscript>
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
</noscript>
{% endblock %}


{% block main %}

  {% include 'header.html' %}
  {% include 'bottom-navigation.html' %}
  {% include 'apps.html' %}
  {% include 'ml.html' %}
  {% include 'cloud.html' %}
  {% include 'fullstack.html' %}
  {% include 'footer.html' %}

{% endblock %}

{% block extrabody %}
<link rel="prefetch" href="{% static 'js/header.js' %}">
<script defer src="{% static 'js/header.js' %}"></script>

<link rel="prefetch" href="{% static 'js/apps.js' %}">
<script defer src="{% static 'js/apps.js' %}"></script>
{% endblock %}
