{% load static %}
{% load i18n %}

<section id="ml" class="px-3">
  <div class="container mb-6">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'machine_learning' %}
        </h1>
      </div>
    </div>
    <h1 class="title">
      {% trans 'machine_learning_title' %}
    </h1>

    <div id="ml-presentation-container">
      <div id="ml-presentation-gradient"></div>
      <img id="ml-presentation-front"
          alt="3dify-presentation"
          src="{% static 'img/3dify-front.webp' %}"
          loading="lazy">
      <div id="ml-presentation-text" class="notification">
        <h1 class="title">
          {% trans 'featured_project' %}
        </h1>
        <hr>
        <h2 class="subtitle">
          {% trans 'machine_learning_project_description' %}
        </h2>
      </div>
    </div>
  </div>
</section>
