{% load static %}
{% load i18n %}

<section id="ml" class="px-3 pt-6">
  <div class="container pb-6 pt-6">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'machine_learning' %}
        </h1>
      </div>
    </div>
    <h1 class="title">
      {% trans 'machine_learning_title' %}
    </h1>

    <div class="three-dify-presentation-text is-hidden-desktop py-6">
      <h2 class="title pb-3">
        {% trans 'featured_project' %}
      </h2>
      <h2 class="subtitle">
        {% trans 'machine_learning_project_description' %}
      </h2>
    </div>

    <div id="three-dify-presentation-container">
      <div class="columns is-multiline pt-6">
        <div class="column is-6">
          <div id="three-dify-tech-back-container">
            <div id="three-dify-tech-back"></div>
          </div>
        </div>
        <div class="column is-6 is-hidden-touch featured-project-description">
          <div class="three-dify-presentation-text">
            <h2 class="title pb-3">
              {% trans 'featured_project' %}
            </h2>
            <h2 class="subtitle">
              {% trans 'machine_learning_project_description' %}
            </h2>
          </div>
        </div>
        <div class="column is-6">
          <div id="three-dify-tech-demo-container">
            <div id="three-dify-tech-demo-photo"></div>
            <div id="three-dify-tech-demo-depth"></div>
          </div>
        </div>
        <div class="column is-6 is-hidden-touch featured-project-description">
          <div class="three-dify-presentation-text">
            <h2 class="title pb-3">
              {% trans 'machine_learning_project_adaption_title' %}
            </h2>
            <h2 class="subtitle">
              {% trans 'machine_learning_project_adaption_description' %}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="three-dify-presentation-text is-hidden-desktop pt-6">
      <h2 class="title pb-3">
        {% trans 'machine_learning_project_adaption_title' %}
      </h2>
      <h2 class="subtitle">
        {% trans 'machine_learning_project_adaption_description' %}
      </h2>
    </div>
  </div>
</section>
