{% load static %}
{% load i18n %}

<section id="research" class="px-3 pt-6">
  <div class="container pb-6 pt-6">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'research' %}
        </h1>
      </div>
    </div>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Microservices, DevOps und Containerisierung im Cloud Computing
      </h2>
      <p class="subtitle">Cloudbasierte Systeme bieten heute schon eine gigantische Vielfalt an Services an, man spricht daher auch von Anything-as-a-Service, kurz XaaS. Außerdem müssen moderne Cloud-Systeme ausreichend skalieren und parallelisieren, um die teils immense Last von Nutzeranfragen zu stämmen. Dies stellt neue Herausforderungen an die Softwareentwicklung und -konzeption, deren Lösung hierfür neue Paradigmen und Workflows sind...</p>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/microservices-devops-und-containerisierung-im-cloud-computing/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Smartphone-Fotos 3D-ifizieren
      </h2>
      <p class="subtitle">Viele haben dieses Feature von Smartphones vermutlich schon genutzt: Moderne Smartphones bieten die Möglichkeit, Fotos in einem speziellen Modus zu schießen, um sie danach mit Portrait-Effekten, künstlicher Tiefenschärfe und vielem mehr auszustatten. Im Vortrag erfahrt ihr, wie dieser Effekt auf aktuellen iPhones mit Multi-Kamera-Arrays über Methoden aus dem Bereich Computer Vision funktioniert und wie hieraus Tiefen-Maps von der fotografierten Szene erstellt werden können. Außerdem wird anhand des aktuellen Forschungsstands gezeigt, wie Machine Learning auf Smartphones eingesetzt werden kann, um Tiefen-Maps auch auf Systemen mit nur einer Kamera zu erstellen....</p>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/smartphone-fotos-3d-ifizieren/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Kryptografie in Messengern
      </h2>
      <p class="subtitle">Ein wichtiges Privacy-Feature bei modernen Messengern ist die Ende-zu-Ende-Verschlüsselung. Habt ihr euch schonmal gefragt, wie das überhaupt funktioniert? Wir zeigen euch das Signal-Verfahren (unter anderem von Whatsapp genutzt) und warum es nicht reicht, um wirklich vertraulich zu kommunizieren. Die Frage ist: Wie könnte man die Privatsphäre der Nutzer von Messengern weiter verbessern? Wir demonstrieren euch einen Prototyp unseres „Peerbridge“ Messengers, der genau dies versucht. ...</p>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/kryptografie-in-messengern/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">February 5 2021 &raquo; {% trans 'english' %} &raquo; <strong class="colorful-background text-clip">Seminar</strong><h2><h2>
      <h2 class="title pb-2">
        Distributed Hash Tables
      </h2>
      <h2 class="subtitle">
        Basics and motivation: Why do we need Distributed Hash Tables? &raquo;
        Functional aspects of Distributed Hash Tables: How do they work? &raquo;
        Comparison between different concrete approaches: Which different approaches to Distributed Hash Tables do exist? &raquo;
        Illustration of a selected Distributed Hash Table in use: Research project “Peerbridge” Blockchain Messenger
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/hashtables.pdf' %}">&raquo; Download PDF</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">1. Februar 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Dokumentation</strong><h2><h2>
      <h2 class="title pb-2">
        Dokumentation über den Neuaufbau der OUTPUT.DD App im WiSe 2020/21
      </h2>
      <h2 class="subtitle">
        OUTPUT.DD ist eine jährlich stattfndende Projektschau, auf welcher in der Fakultät Informa- tik der Technischen Universität Dresden wissenschaftliche Projekte von Studenten, Firmen und Mitarbeitern präsentiert und ausgestellt werden. Begleitend zur Projektschau wird den Besuchern der Veranstaltung jeweils eine App für iOS und Android zur Verfügung gestellt. Die Apps dienen dabei selbst nicht nur als Plattform, über welche Nutzer den zeitlichen und topografschen Veranstaltungsplan einsehen können, sondern auch als Integrationspunkt für verschiedene Forschungsprojekte aus den Bereichen Mediengestaltung, Application Development und Mobile Computing...
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/neuaufbau.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">30. November 2020 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Dokumentation</strong><h2>
      <h2 class="title pb-2">
        Erstellung eines Repository-Frameworks für Couchbase zur Migration der OUTPUT.DD iOS App im OUTPUT.DD-Komplexpraktikum
      </h2>
      <h2 class="subtitle">
        Komplexpraktikum OUTPUT.DD
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/output.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">17. September 2020 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Wissenschaftliche Arbeit</strong><h2>
      <h2 class="title pb-2">
        Erstellung und Evaluation eines Gamication-Konzeptes zur Verbesserung der Codequalität eingereichter Lösungen in INLOOP
      </h2>
      <h2 class="subtitle">
        Großer Beleg
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/inloop-gamified.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">7. Juni 2018 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Seminar</strong><h2>
      <h2 class="title pb-2">
        Veritas - ein Machine Learning-Framework für die Performance-Coverage-Analyse von Proxy-Applications
      </h2>
      <h2 class="subtitle">
        Proseminar
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/veritas.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
  </div>
</section>
