{% load static %}
{% load i18n %}

<section id="research" class="px-3 pt-6">
  <div class="container pb-6 pt-6">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'research' %}
        </h1>
      </div>
    </div>
    <div class="py-3">
      <h2 class="subtitle">9. Oktober 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Wissenschaftliche Arbeit</strong><h2>
      <h2 class="title pb-2">
        Untersuchung der Abhängigkeit zwischen Ressourcenbedarf und Ergebnisqualität für ein auf ein Smartphone portiertes Machine-Learning-Verfahren zur Verkehrsmittelerkennung
      </h2>
      <h2 class="subtitle">
        Diplomarbeit
      </h2>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD 2021: Microservices, DevOps und Containerisierung im Cloud Computing
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/microservices-devops-und-containerisierung-im-cloud-computing/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD 2021: Smartphone-Fotos 3D-ifizieren
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/smartphone-fotos-3d-ifizieren/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD 2021: Kryptografie in Messengern
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/kryptografie-in-messengern/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
  </div>
</section>
