{% load static %}
{% load i18n %}

<section id="research" class="px-3 pt-6">
  <div class="container pb-6 pt-6">
    <div class="hero is-small">
      <div class="hero-body px-0">
        <h1 class="title colorful-background text-clip py-5">
          {% trans 'research' %}
        </h1>
      </div>
    </div>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Microservices, DevOps und Containerisierung im Cloud Computing
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/microservices-devops-und-containerisierung-im-cloud-computing/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Smartphone-Fotos 3D-ifizieren
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/smartphone-fotos-3d-ifizieren/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
      <h2 class="subtitle">8. Juli 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Vortrag</strong><h2>
      <h2 class="title pb-2">
        OUTPUT.DD: Kryptografie in Messengern
      </h2>
      <h2 class="subtitle">
        Projektschau
      </h2>
      <a rel="noreferrer" target="_blank" href="https://output-dd.de/blog/project-post/kryptografie-in-messengern/">&raquo; Vortragsbeschreibung lesen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">February 5 2021 &raquo; {% trans 'english' %} &raquo; <strong class="colorful-background text-clip">Seminar</strong><h2><h2>
      <h2 class="title pb-2">
        Distributed Hash Tables
      </h2>
      <h2 class="subtitle">
        Distributed Systems
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/hashtables.pdf' %}">&raquo; Download PDF</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">1. Februar 2021 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Dokumentation</strong><h2><h2>
      <h2 class="title pb-2">
        Dokumentation über den Neuaufbau der OUTPUT.DD App im WiSe 2020/21
      </h2>
      <h2 class="subtitle">
        Komplexpraktikum OUTPUT.DD
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/neuaufbau.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">30. November 2020 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Dokumentation</strong><h2>
      <h2 class="title pb-2">
        Erstellung eines Repository-Frameworks für Couchbase zur Migration der OUTPUT.DD iOS App im OUTPUT.DD-Komplexpraktikum
      </h2>
      <h2 class="subtitle">
        Komplexpraktikum OUTPUT.DD
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/output.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">17. September 2020 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Wissenschaftliche Arbeit</strong><h2>
      <h2 class="title pb-2">
        Erstellung und Evaluation eines Gamication-Konzeptes zur Verbesserung der Codequalität eingereichter Lösungen in INLOOP
      </h2>
      <h2 class="subtitle">
        Großer Beleg
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/inloop-gamified.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
    <hr>
    <div class="py-3">
        <h2 class="subtitle">7. Juni 2018 &raquo; {% trans 'german' %} &raquo; <strong class="colorful-background text-clip">Seminar</strong><h2>
      <h2 class="title pb-2">
        Veritas - ein Machine Learning-Framework für die Performance-Coverage-Analyse von Proxy-Applications
      </h2>
      <h2 class="subtitle">
        Proseminar
      </h2>
      <a rel="noreferrer" target="_blank" href="{% static 'files/veritas.pdf' %}">&raquo; PDF herunterladen</a>
    </div>
  </div>
</section>
