{% load static %}

<nav class="navbar primary px-2" id="top-navbar">
  <div class="container">
    <div class="navbar-brand">
      <a rel="noreferrer" class="navbar-item" href="/">
          <strong>Philipp Matthes</strong>
        </a>
      <div class="navbar-burger burger"
           data-target="top-navigation"
           >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="top-navigation" class="navbar-menu py-0">
      <div class="navbar-end">
        {% if weblinks %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Links
          </a>

          <div class="navbar-dropdown">
            {% for weblink in weblinks %}
            <a rel="noreferrer" target="_blank" class="navbar-item" href={{ weblink.url }}>
              <i class="{{ weblink.fontawesome_icon_css }} mr-2"></i> {{ weblink.title }}
            </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <a rel="noreferrer" class="navbar-item" href="mailto:mail@philippmatth.es">
        <i class="fas fa-envelope mr-2"></i> Email
      </a>
      <a rel="noreferrer" class="navbar-item" href="tel:+4917642090978">
        <i class="fas fa-phone-alt mr-2"></i> +49 176 42090978
      </a>
    </div>
  </div>
</nav>
