@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html * {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --gradient: linear-gradient(45deg, #0072ff, #4834d4);
  --lightblue: #00c6ff;
  --darkblue: #0072ff;
  --verydarkblue: #4834d4; /* very dark blue for better accessibility */
  --dark: #0d0d0d;
  --light: #fafafa;
  --lynx-white: #f5f6fa;
}

body {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: var(--verydarkblue);
}

.notification a:not(.button):not(.dropdown-item) {
  color: var(--verydarkblue);
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--lightblue);
  }

  .notification a:not(.button):not(.dropdown-item) {
    color: var(--lightblue);
  }
}

html {
  background-color: var(--light);
  color: var(--dark);

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--dark);
  }
}

hr {
  height: 1px;
  background: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
  hr {
    background: var(--light);
  }
}

@media (prefers-color-scheme: dark) {
  html,
  .subtitle,
  .subtitle strong,
  .title,
  .title strong {
    color: var(--light);
  }
}

.container {
  max-width: 60rem !important;
}

.hero .title {
  font-size: 6rem;
}

.hero .subtitle {
  font-size: 1.5rem;
}

@media (max-width: 1023px) {
  .hero .title {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.colorful-background {
  background: linear-gradient(15deg, #0072ff,#4834d4);
}

.text-clip {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-moz-document url-prefix() {
  .text-clip {
    background: inherit;
    background-attachment: inherit;
    background-size: inherit;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    color: #4834d4;
  }
}

.notification {
  background: var(--light);
  border-radius: 2rem;

  @media (prefers-color-scheme: dark) {
    background: #1d1d1d;
    color: var(--light);
  }
}

.scroll-container {
  scroll-padding-top: 4rem;
}
