nav.navbar.secondary {
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  nav.navbar.secondary, .navbar-item, .navbar-link {
    color: white;
  }
}

nav.navbar.primary, nav.navbar.primary a {
  background-color: #0d0d0d;
  color: #f0f0f0;
}

.navbar-blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.75);

  @media (prefers-color-scheme: dark) {
    background-color: rgba(10, 10, 10, 0.75);
  }
}

.navbar-menu {
  background: transparent;

  .navbar-item {
    transition: border-bottom 0.1s ease;
  }

  .navbar-item.active {
    border-bottom-style: solid;
    border-bottom-color: var(--darkblue);
  }
}

.is-sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}
